# Message files are generated at compile time from .msg files
**/*_m.cc
**/*_m.h

# Ignore binaries
dtnsim/out/
dtnsim/dtnsim
/.metadata/

dtnsim/simulations/HAPS_Analysis/**/results
dtnsim/simulations/HAPS_Analysis/**/Makefile.*
